.login-container {
  position: relative;
  display: flex;
  min-height: 100vh;

  .login--left {
    flex: 0 0 480px;
    padding: 48px 98px;
    padding-right: 0;
  }

  .login--title {
    margin-top: 16px;
    font-size: 40px;
    line-height: 60px;
    font-family: Tahoma, Arial;
    font-weight: bold;
    color: #330000;
  }

  .login--right {
    flex: 1 1 auto;
    background: url('../../../assets/img/login/bg.png') no-repeat;
    background-size: cover;
  }
}

.login--content {
  padding: 48px 60px;
  position: absolute;
  left: 98px;
  top: 350px;
  background: #FFF url('../../../assets/img/login/body-bg.png');
  border-radius: 8px;

  .login--form__title {
    margin-bottom: 28px;
    font-size: 28px;
    font-family: Tahoma, Arial;
    font-weight: bold;
    line-height: 30px;
  }

  .login--submit {
    margin-top: 16px;
    height: 40px;
    width: 100%;
    background-color: #330000;
    border-color: #330000;
    color: #FFF;
  }

  .upslogin--submit {
    margin-top: 16px;
    margin-left: 0px;
    height: 40px;
    width: 100%;
  }
}