<div class="container--">
  <div class="title--container">
    <app-page-title [title]="'Comment Star Rate'"></app-page-title>
    <nz-radio-group [(ngModel)]="radioValue" (ngModelChange)="changeRadio($event)">
      <label nz-radio nzValue="01">Last 7 Days</label>
      <label nz-radio nzValue="02">Last 15 Days</label>
      <label nz-radio nzValue="03">Last 30 Days</label>
      <label nz-radio nzValue="04">Last 6 Months</label>
    </nz-radio-group>
  </div>
  <div nz-row class="score--container">
    <div nz-col nzSpan="6" class="score--item__col tag--container">
      <nz-collapse nzAccordion class="tag--list">
        <nz-collapse-panel *ngFor="let header of headerList" [nzHeader]="header.tagRatingCategory" [nzActive]="false"
          [nzExtra]="extraTpl" nzShowArrow="false" class="tag--item">
          <nz-collapse>
            <div *ngFor="let tag of header.tagRatingList" class="tag--content">
              <div>
                <span [nzTooltipTitle]="tag.tagCode +' '+ tag.tagName" [nzTooltipPlacement]="['topLeft', 'leftTop']"
                  nz-tooltip class="tag-item">
                  {{tag.tagCode}}{{tag.tagName}}
                </span>
              </div>
            </div>
          </nz-collapse>
          <!--额外添加评分 -->
          <ng-template #extraTpl>
            ({{header.tagRatingCount}})
          </ng-template>
        </nz-collapse-panel>
      </nz-collapse>
    </div>
    <div nz-col nzSpan="11" class="chart--pie score--item__col">
      <!-- <span class="chart--pie__date">{{ formattedDateStr }}</span> -->
      <div id="main" style="width:700px;height:300px"></div>
    </div>
    <div nz-col nzSpan="7" class="chart--bar score--item__col">
      <div id="bar" style="width:448px;height:300px"></div>
    </div>
  </div>
</div>