// Custom Theming for NG-ZORRO
// For more information: https://ng.ant.design/docs/customize-theme/en
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";

// Override less variables to here
// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less

@primary-color: #330000;
@success-color: #76881D;
@warning-color: #C67D30;
@danger-color: #C91A13;

@common-color: #fff;

@btn-font-weight: 400;

@table-border-color: #dfe6ec;

@menu-dark-color: @common-color;
@menu-dark-bg: @primary-color;
@menu-dark-arrow-color: @common-color;
@menu-dark-inline-submenu-bg: @primary-color;
// @menu-dark-highlight-color: yellow;
// @menu-dark-item-active-bg: red;
// @menu-dark-selected-item-text-color: @primary-color;
// @menu-dark-item-hover-bg: @common-color;



// dark theme
// @menu-dark-arrow-color: #fff;
// @menu-dark-inline-submenu-bg: #000c17;
// @menu-dark-highlight-color: #fff;
// @menu-dark-item-active-bg: @primary-color;
// @menu-dark-item-active-danger-bg: @error-color;
// @menu-dark-selected-item-icon-color: @white;
// @menu-dark-selected-item-text-color: @white;
// @menu-dark-item-hover-bg: transparent;


@menu-inline-toplevel-item-height: 56px;
@menu-item-height: 56px;
@menu-item-group-height: 56px;