.filter--condition {
	display: inline-block;
}

.filter--container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.filter-box {
	padding: 15px 5px 5px 5px;
	background: #fff;
	border-radius: 8px 8px 0 0;
}

.filter--condition {
	margin: 0 10px;
	margin-left: 0;

	&:nth-last-of-type(1) {
		margin-right: 0;
	}

	.filter--icon {
		margin-right: 10px;
		width: 14px;
		height: 12px;
	}

	.filter--label {
		font-size: 14px;
		font-family: Tahoma;
		color: #999999;
		line-height: 16px;
	}
}

// 自适应
.filter--select {
	width: 20%;
	min-width: 200px;
	max-width: 240px;
	margin-bottom: 10px !important;
}

.filter--date {
	width: 30%;
	min-width: 200px;
	max-width: 342px;
	position: relative;

	.date-icon {
		position: absolute;
		right: 11px;
		top: 9px;
		width: 1.5em;
		height: 1.5em;
	}
}

.filter--input {
	width: 30%;
	min-width: 320px;
	max-width: 400px;
	position: relative;
}

.filter--condition {

	.el-select,
	.el-range-editor.el-input__inner,
	.search--keyword {
		width: 100%;
	}
}

.filter--date .el-range-editor--medium .el-range__icon {
	display: none;
}

.filter-box .el-select .el-input .el-select__caret {
	font-weight: bold;
}

.search-box {
	position: absolute;
	right: 11px;
	top: 10px;
	display: flex;
	align-items: center;

	.search-span {
		width: 1px;
		height: 12px;
		background: #3C0C0C;
		margin-right: 11px;
	}

	.el-icon-search {
		cursor: pointer;
		width: 1.5em;
		height: 1.5em;
	}
}